@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,800&subset=latin-ext';

@keyframes bgcolor {
	0% {background-color: #000121;}
	70% {background-color:  #00033d;}
}

html, body {
	overflow-x: hidden;
	height: 100%;
}

body {
	font-family: 'Alegreya Sans', sans-serif;
	background-color: #000121;
	animation: bgcolor 3s infinite;
	color: white;
}

a:link {
	color: white;
	text-decoration: none;
	transition: 0.5s;
}

a:link:hover {
	opacity: 0.5;
}

a:visited {
	color: inherit;
}

.wrapper {
	max-width: 1100px;
	padding: 35px;
	margin: 0 auto;
	border-bottom: 1px solid;
	border-color: rgba(255,255,255,0.1);
}

.wrapper #header {
	text-align: center;
}

.wrapper #header h1 {
	font-weight: 800;
	font-size: 60px;
	text-transform: uppercase;
	position: relative;
}

.wrapper #header .header__text-thin{
	padding: 15px;
	border: 3px solid;
	border-color: rgba(255, 255, 255, 0.2);
	font-weight: 100;
	transition: 0.3s;
}

.wrapper #header .header__text-thin:hover {
	padding: 25px;
	border-color: rgb(255, 255, 255);
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
}

.wrapper nav.menu {
	position: relative;
	text-align: center;
}

.wrapper nav.menu ul {
	position: relative;
	padding: 0px;
}

.wrapper nav.menu ul li {
	display: inline-block;
	padding: 40px;
}

.wrapper nav.menu ul li .icon {
	position: relative;
	right: 20px;
	top: 5px;
}


/* 561 viewport */

@media all and (max-width: 601px) {
.wrapper #header .header__text-thin {
	line-height: 130px;
}
}
@media all and (max-width: 373px) {
.wrapper #header h1 {
	font-size: 25px;
}

.wrapper nav.menu ul li {
	padding: 30px;
}

.wrapper nav.menu ul li .icon {
	font-size: 20px;
	top: 2px;
}
}
